/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    image-rendering: pixelated;
    font-family: 'MyPixelFont', sans-serif;
    cursor: url('../assets/personalized-cursor.png') , auto;
}

body {
    font-family: 'MyPixelFont', sans-serif; /* Font di fallback se non carica */
}


a {
    color: inherit; 
    text-decoration: none; 
}

.book a:visited {
    color: #3a632e; 
}

.book a:hover {
    color: #5f482b; 
}

.book a:active {
    color: #a1730e;
}

p,h1 {
    cursor: url('../assets/personalized-text-cursor.png'), text;
}

/* Modifica lo stile per la selezione del testo */
::selection {
    background-color: rgba(172, 26, 3, 0.616); /* Cambia il colore di sfondo della selezione */
    color: rgb(255, 255, 255); /* Cambia il colore del testo selezionato */
}

.book-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    cursor: url('../assets/personalized-cursor-2-blood.png') , pointer;
}


/* Contenitore dei bottoni (ora dentro .book-container) */
#prev-btn, #next-btn {
    min-width: 3rem;
    position: relative;
    top: auto;
    margin: 0 2rem;
    transform: translateY(-50%);
    z-index: 2;
    transition: transform 0.5s ease;
}

/* Pulsante precedente a sinistra */
#prev-btn {
    left: -10em;
}

/* Pulsante successivo a destra */
#next-btn {
    right: -10em;
}

#prev-btn img,
#next-btn img {
    transform: scale(1);
    transition: transform 0.3s ease;
}

/* Hover base */
#prev-btn img:hover,
#next-btn img:hover {
    transform: scale(1.2);
}

/* Schermo medio: aumenta scala */
@media (min-width: 1024px) {
    #prev-btn img,
    #next-btn img {
        min-width: 3rem;
        transform: scale(1.2);
    }

    #prev-btn img:hover,
    #next-btn img:hover {
        transform: scale(1.4);
    }

    #prev-btn {
        left: -20em;
    }

    /* Pulsante successivo a destra */
    #next-btn {
        right: -20em;
    }
}

/* Schermo grande: scala ancora maggiore */
@media (min-width: 1440px) {
    #prev-btn img,
    #next-btn img {
        min-width: 3rem;
        transform: scale(1.4);
    }

    #prev-btn img:hover,
    #next-btn img:hover {
        transform: scale(1.6);
    }
}

@media (min-width: 1700px) {
    #prev-btn img,
    #next-btn img {
        min-width: 3rem;
        transform: scale(1.6);
    }

    #prev-btn img:hover,
    #next-btn img:hover {
        transform: scale(1.8);
    }
}

@media (min-width: 1900px) {
    #prev-btn img,
    #next-btn img {
        min-width: 3rem;
        transform: scale(2);
    }

    #prev-btn img:hover,
    #next-btn img:hover {
        transform: scale(2.3);
    }
}


@media (min-width: 2000px) {
    #prev-btn img,
    #next-btn img {
        min-width: 3rem;
        transform: scale(2.5);
    }

    #prev-btn img:hover,
    #next-btn img:hover {
        transform: scale(3);
    }

    #prev-btn {
        left: -25em;
    }

    /* Pulsante successivo a destra */
    #next-btn {
        right: -25em;
    }
}

@media (min-width: 2200px) {
    #prev-btn img,
    #next-btn img {
        min-width: 3rem;
        transform: scale(4.5);
    }

    #prev-btn img:hover,
    #next-btn img:hover {
        transform: scale(6);
    }
}



/* Quando il libro è aperto (aggiungiamo classe .shifted in React) */
.book-open #prev-btn {
    transform: translate(-100%, -50%);
}

.book-open #next-btn {
    transform: translate(100%, -50%);
}




button {
    border: none;
    background-color: transparent;
    margin: 60px;
    cursor: pointer;
    transition: transform 0.5s;
    cursor: url('../assets/personalized-cursor-2-blood.png') , pointer;

}

button:focus {
    outline: none;
}

button:hover i {
    color: rgb(102, 102, 102);
}

i {
    color: gray;
    font-size: 4em;
}

/* Book */
.book {
    width: min(90vw, 400px);
    aspect-ratio: 3 / 4;
    position: relative;
    transition: transform 0.5s;
    max-height: 90vh;
    font-size: 1rem; /* base per em/rem nei figli */
}


.paper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front #backtracking-button {
    position: absolute;
    top: 1%;
    right: 1%;
}

.back #backtracking-button {
    position: absolute;
    top: 1%;
    left: 1%;
}

#backtracking-button img {
    width:35px;
}

#backtracking-button:hover {
    transform: scale(1.2);
}

.front {
    backface-visibility: hidden;
}

.front, 
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: justify;
    padding: clamp(1rem, 5vw, 2rem); /* padding flessibile */
    box-sizing: border-box;
    overflow-y: auto;
    gap: clamp(0.5rem, 2vw, 1.5rem); /* spazio tra gli elementi */
    font-size: clamp(0.8rem, 2vw, 1.2rem); /* testo adattivo */
    line-height: 1.4;
}

body::-webkit-scrollbar { 
  width: 12px;
}

body::-webkit-scrollbar-track { 
  background: #d30606;
}

body::-webkit-scrollbar-thumb { 
  background: url('../assets/scroolbar-thumb.png') no-repeat center center;
  background-size: cover; /* o 'contain' se preferisci */
  border-radius: 6px;
}

.front-content img,
.back-content img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 0.25rem;
}

.book h1,
.book h2 {
    font-size: clamp(0rem, 2vw, 1.5rem); /* Titoli flessibili */
    margin: 0 0 0.5em;
    text-align: center;
}


.back-content {
    transform: rotateY(180deg)
}

/* Paper Flipped */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg)
}

/* Paper Z-index */
#p1 .front {
    background-image: url(../assets/codex_book_front.png);
    background-size: contain;  /* Mantiene il rapporto di aspetto */
    background-repeat: no-repeat;  /* Evita che l'immagine si ripeta */
    background-position: center;  /* Centra l'immagine */
    object-fit: contain;
    image-rendering: pixelated; 
}
#p1 .back {
    background-image: url(../assets/back_codex_2.png);
    background-size: contain;  /* Mantiene il rapporto di aspetto */
    background-repeat: no-repeat;  /* Evita che l'immagine si ripeta */
    background-position: center;  /* Centra l'immagine */
    object-fit: contain;
    image-rendering: pixelated; 
}

#p2 .front, 
#p3 .front,
#p4 .front,
#p5 .front,
#p6 .front,
#p7 .front,
#p8 .front,
#p9 .front {
    background-image: url(../assets/front_codex_open.png);
    background-size: contain;  /* Mantiene il rapporto di aspetto */
    background-repeat: no-repeat;  /* Evita che l'immagine si ripeta */
    background-position: center;  /* Centra l'immagine */
    object-fit: contain;
    image-rendering: pixelated; 
}

#p10 .front {
    background-image: url(../assets/back_codex_open_3.png);
    background-size: contain;  /* Mantiene il rapporto di aspetto */
    background-repeat: no-repeat;  /* Evita che l'immagine si ripeta */
    background-position: center;  /* Centra l'immagine */
    object-fit: contain;
    image-rendering: pixelated; 
}

#p2 .back {
    background-image: url(../assets/back_codex_open_3.png);
    background-size: contain;  /* Mantiene il rapporto di aspetto */
    background-repeat: no-repeat;  /* Evita che l'immagine si ripeta */
    background-position: center;  /* Centra l'immagine */
    object-fit: contain;
    image-rendering: pixelated; 
}



#p3 .back,
#p4 .back,
#p5 .back,
#p6 .back,
#p7 .back,
#p8 .back,
#p9 .back {
    background-image: url(../assets/back_codex_open_2.png);
    background-size: contain;  /* Mantiene il rapporto di aspetto */
    background-repeat: no-repeat;  /* Evita che l'immagine si ripeta */
    background-position: center;  /* Centra l'immagine */
    object-fit: contain;
    image-rendering: pixelated; 
}

#p10 .back {
    background-image: url(../assets/back_codex_open_3.png);
    background-size: contain;  /* Mantiene il rapporto di aspetto */
    background-repeat: no-repeat;  /* Evita che l'immagine si ripeta */
    background-position: center;  /* Centra l'immagine */
    object-fit: contain;
    image-rendering: pixelated; 
}

#p11 .front {
    background-image: url(../assets/back_codex.PNG);
    background-size: contain;  /* Mantiene il rapporto di aspetto */
    background-repeat: no-repeat;  /* Evita che l'immagine si ripeta */
    background-position: center;  /* Centra l'immagine */
    object-fit: contain;
    image-rendering: pixelated; 
}
#p11 .back {
    background-image: url(../assets/back_codex.PNG);
    background-size: contain;  /* Mantiene il rapporto di aspetto */
    background-repeat: no-repeat;  /* Evita che l'immagine si ripeta */
    background-position: center;  /* Centra l'immagine */
    object-fit: contain;
    image-rendering: pixelated; 
}


#p1 {
    z-index: 11;
}

#p2 {
    z-index: 10;
}

#p3 {
    z-index: 9;
}

#p4 {
    z-index: 8;
}

#p5 {
    z-index: 7;
}
#p6 {
    z-index: 6;
}
#p7 {
    z-index: 5;
}
#p8 {
    z-index: 4;
}
#p9 {
    z-index: 3;
}
#p10 {
    z-index: 2;
}
#p11 {
    z-index: 1;
}


/* Customization */

.book-title {
    font-size: 3em;
    margin-bottom: 40px;
}

.cover-img {
    width: 200px;
    height: 270px;
    object-fit: cover;
    border-radius: 30px;
}

#b1 {
    padding: clamp(1rem, 4vw, 2rem);  /* Padding adattivo */
    text-align: center;
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);  /* Testo adattivo */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: clamp(0.5rem, 2vw, 1.5rem);  /* Spazio tra elementi */
}

#b1 h2 {
    font-size: clamp(1.2rem, 4vw, 2rem);  /* Titolo flessibile */
    margin-top: clamp(0.5rem, 2vw, 1rem);
    margin-bottom: clamp(0.5rem, 2vw, 1.5rem);
}

#b1 p {
    font-size: clamp(0.8rem, 2vw, 1rem);  /* Paragrafo flessibile */
    margin-bottom: clamp(0.5rem, 2vw, 1.5rem);
    line-height: 1.5;
    max-width: 100%;
}


.book h2, 
.book p {
    color: #1f1c1c;
}

#image-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Centra l'immagine esattamente nel mezzo */
    text-align: center;
    z-index: 1000; /* Assicurati che l'immagine sia sopra il libro */
}

#image {
    image-rendering: pixelated; 
    width: 150vh;  /* Modifica come preferisci */
}

#hide-button {
    margin-top: 0px;
    padding: 10px 20px;
    background-color: #c5af31;
    border-radius:16px;
    border: 2px solid #000000;  /* Aggiunge un bordo di 5px con il colore blu */
    color: #000;
    cursor: pointer;
    font-size: 20px;
}

#hide-button:hover {
    background-color: #f3d219;
}


#p2 .back#codex::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 98%;
    width: 20%;
    height: 10%;
    background-image: url('../assets/inventario-codex-bookmark.png'); /* <-- cambia questo con il nome corretto */
    background-size: cover; /* oppure 'contain' se vuoi mantenere proporzioni */
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1; /* Assicurati che sia sopra il contenuto, ma sotto eventuali interazioni */
    border-radius: 10px;
    pointer-events: all; /* Consente l'interazione con il bottone */
    cursor: pointer; /* Indica che è un bottone cliccabile */
}


#p3 .back#codex::before {
    content: "";
    position: absolute;
    top: 23%;
    left: 98%;
    width: 20%;
    height: 10%;
    background-image: url('../assets/armi-codex-bookmark.png'); /* <-- cambia questo con il nome corretto */
    background-size: cover; /* oppure 'contain' se vuoi mantenere proporzioni */
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1; /* Assicurati che sia sopra il contenuto, ma sotto eventuali interazioni */
    border-radius: 10px;
    pointer-events: all; /* Consente l'interazione con il bottone */
    cursor: pointer; /* Indica che è un bottone cliccabile */
}



#p4 .back#codex::before {
    content: "";
    position: absolute;
    top: 36%;
    left: 98%;
    width: 20%;
    height: 10%;
    background-image: url('../assets/tesori-codex-bookmark.png'); /* <-- cambia questo con il nome corretto */
    background-size: cover; /* oppure 'contain' se vuoi mantenere proporzioni */
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1; /* Assicurati che sia sopra il contenuto, ma sotto eventuali interazioni */
    border-radius: 10px;
    pointer-events: all; /* Consente l'interazione con il bottone */
    cursor: pointer; /* Indica che è un bottone cliccabile */
}



#p5 .back#codex::before {
    content: "";
    position: absolute;
    top: 48%;
    left: 98%;
    width: 20%;
    height: 10%;
    background-image: url('../assets/bestiario-codex-bookmark.png'); /* <-- cambia questo con il nome corretto */
    background-size: cover; /* oppure 'contain' se vuoi mantenere proporzioni */
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1; /* Assicurati che sia sopra il contenuto, ma sotto eventuali interazioni */
    border-radius: 10px;
    pointer-events: all; /* Consente l'interazione con il bottone */
    cursor: pointer; /* Indica che è un bottone cliccabile */
}



#p6 .back#codex::before {
    content: "";
    position: absolute;
    top: 60%;
    left: 98%;
    width: 20%;
    height: 10%;
    background-image: url('../assets/boss-codex-bookmark.png'); /* <-- cambia questo con il nome corretto */
    background-size: cover; /* oppure 'contain' se vuoi mantenere proporzioni */
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1; /* Assicurati che sia sopra il contenuto, ma sotto eventuali interazioni */
    border-radius: 10px;
    pointer-events: all; /* Consente l'interazione con il bottone */
    cursor: pointer; /* Indica che è un bottone cliccabile */
}


#p2 .back::before:hover ,
#p3 .back::before:hover ,
#p4 .back::before:hover ,
#p5 .back::before:hover ,
#p6 .back::before:hover {
    transform: scale(1.1); 
}



@media (max-width: 1500px) {
    .book {
        width: min(90vw, 350px); /* Riduce leggermente la larghezza massima */
        font-size: 0.95rem;
    }

    .front-content,
    .back-content {
        font-size: clamp(0.7rem, 1.8vw, 1rem); /* Riduce il testo */
        padding: clamp(0.8rem, 4vw, 1.5rem);
    }

    #b1 {
        font-size: clamp(0.8rem, 1.2vw, 1rem);
    }

    #b1 h2 {
        font-size: clamp(1rem, 3.5vw, 1.5rem);
    }

    #b1 p {
        font-size: clamp(0.7rem, 1.8vw, 0.9rem);
    }

    .book-title {
        font-size: 2.5em;
    }

    #prev-btn img,
    #next-btn img {
        min-width: 3rem;
        width: 100%;
        height: auto;
    }
    
}


.back ::-webkit-scrollbar {
  width: 13px;
  height: 12px;
}

.back ::-webkit-scrollbar-track {
  background: #796f5e52;
  border-radius: 10px;
}

/* Thumb con PNG quadrato, visibile solo come blocco più grande alle estremità */
.back ::-webkit-scrollbar-thumb {
  background: url('../codex/Scroolbar-Codex-thumb-2.png') no-repeat center;
  background-size:cover ;
  border-radius: 0;
  background-color: transparent;
}

/* Pulsanti (frecce) */
.back ::-webkit-scrollbar-button {

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
}

/* Freccia su */
.back ::-webkit-scrollbar-button:single-button:decrement {
  background-image: url('../codex/Arrow1.png');
}

/* Freccia giù */
.back ::-webkit-scrollbar-button:single-button:increment {
  background-image: url('../codex/Arrow2.png');
}

.back ::-webkit-scrollbar-button:single-button {
  display: block;
}


