.main-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* CENTRA tutti i figli: titolo, video+descrizione, bottone */
  margin-top: auto;
  padding: 0 20px;
}

.title-image-container {
  text-align: center;
  margin-top: -120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diary-button {
  margin-top: -10px;
  background: none;
  border: none;
  cursor: url('../assets/personalized-cursor-2-blood.png'), pointer;
}

.diary-button img {
  height: 150px;
  width: auto;
  transition: transform 0.3s ease;
}

.diary-button:hover img {
  transform: scale(1.1);
}



.title-image {
  max-width: 100%;
  height: -20px;
}


.video-description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 0px;
  width: 100%;
}

.video-box {
  flex: 1 1 500px;
  max-width: 700px;
  aspect-ratio: 16 / 9;
  border: 7px solid #522828; 
  border-radius: 3px;
  overflow: hidden;
  cursor: url('../assets/personalized-cursor-2-blood.png'), pointer;
}

.video-box iframe {
  width: 100%;
  height: 100%;
  border: none;
  cursor: url('../assets/personalized-cursor-2-blood.png'), pointer;
}

.description-box {
  flex: 1 1 500px;
  max-width: 700px;
  padding: 30px;
  background-image: url('../assets/Home-description-frame.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  color: #0c0c0c;
  border: 7px solid #522828; 
  border-radius: 100%;
  font-size: 18px;
  line-height: 1.6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 0;

  /* Evita scroll nascosto o overflow */
  word-wrap: break-word;
  word-break: break-word;
}

.description-text {
  width: 100%;             /* Usa tutta la larghezza disponibile */
  max-width: 100%;         /* Limita la larghezza massima al contenitore */
  margin: 0 auto;
  padding: 1rem 0;
  overflow-wrap: break-word;
  word-wrap: break-word;   /* Compatibilità */
  word-break: break-word;  /* Spezza parole troppo lunghe */
  white-space: normal;     /* Impedisce che il testo resti su una sola riga */
}



/* Se lo schermo è più largo di 1800px cambia l'immagine di background */
@media (min-width: 1400px) {
  .description-box {
    background-image: url('../assets/RiquadroHomeSritte.png');
  }
}



.steam-button {
  background-image: url('../assets/steamButton0.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 500px; 
  height: 130px;
  border: none;
  padding: 0;
  cursor: url('../assets/personalized-cursor-2-blood.png'), pointer;
  transition: background-image 0.3s ease;
  margin-bottom: auto;
}

.steam-button:hover,
.steam-button:active {
  background-image: url('../assets/steamButton1.png');
}


